<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>userExpenseServlet</servlet-name>
  	<display-name>userExpenseServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.userExpenseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>adminServiceServlet</servlet-name>
  	<display-name>adminServiceServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.adminServiceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteUserServlet</servlet-name>
  	<display-name>DeleteUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogoutServlet</servlet-name>
  	<display-name>AdminLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userExpenseServlet</servlet-name>
  	<url-pattern>/userExpenseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adminServiceServlet</servlet-name>
  	<url-pattern>/adminServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUserServlet</servlet-name>
  	<url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogoutServlet</servlet-name>
  	<url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>
